<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
</head>
<body>
    <h1>Today Date : <%= kindOfDay %> </h1>

    <form action="/" method="post">
        <label for="newItem">Add New Item : </label>
        <input id ="newItem" type="text" name="newItem" autocomplete="off">
    </form>

    <ul>
        <% if(todoList.length) {%>
            <% for (let i = 0; i<todoList.length; i++) {%>
                <li><%=todoList[i].task%></li>
            <% } %>
        <% } %>
        
        <% if(! todoList.length) {%>
            <h1>Nothing</h1>
        <% } %>
    </ul>

</body>
</html>